* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-image: url('../img/Psychic_Revolution_BG.jpg');
    background-repeat: no-repeat;
}

.wrapper {
    position: relative;
    width: 1000px;
}

/* Ripple animation */
.pinkBg {
  background-color: #00a00c!important;
  background-image: radial-gradient(farthest-corner at 77% 60%, #5dec03, #308e00, #073a01);
  box-shadow: 0px 0px 10px #000;
}
.intro-banner-vdo-play-btn{
  height:80px;
  width:80px;
  position:absolute;
  top:50%;
  left:50%;
  text-align:center;
  margin:-40px 0 0 -40px;
  border-radius:100px;
  z-index:1
}
.intro-banner-vdo-play-btn .ripple{
  position:absolute;
  width:195px;
  height:195px;
  z-index:-1;
  left:50%;
  top:50%;
  opacity:0;
  margin:-100px 0 0 -95px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0.4);
      transform:scale(0.4)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(0.6);
      transform:scale(0.6)
  }
}
@keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0.4);
      transform:scale(0.4)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(0.6);
      transform:scale(0.6)
  }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}

/* Main Canvas element  */
.challenge-circle {
    display: inline;
    /* transform: translate(-50%, -2254%); */
}

li {
    list-style-type: none;
    padding: 5px;
}

li a {
  font-size: 10px;
  display: block;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
}

/* Text according to the circle path */
svg {
  font-size: 3.8rem;
  z-index: 4;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
}

path {
  fill: transparent;
}

text {
  fill: rgb(255, 255, 255);
}

.rotate-svg {
  transform: rotate(2deg);
  position: absolute;
  top: 8px;
  left: 7px;
}

.rotate-svg-copy{
  transform: rotate(180deg);
  position: absolute;
  bottom: 8px;
  left: -8px;
  text-shadow: 1px 1px 1px #000;
}

.lvl-family {
  transform: rotate(60deg);
}

.rotate-svg-copy:nth-child(2){
  transform: rotate(243deg);
  position: absolute;
  bottom: 10px;
  left: 3px;
}

/* Small circles for levels */
.circle-position {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -328%);
}

.circle {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  box-shadow: 0px 0px 6px #000;
  background-image: radial-gradient(farthest-corner at 77% 60%, #5dec03, #308e00, #073a01);
}

/* Level 1 game */
.level-1-game {
  width: 700px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 102%);
  display: none;
}
/* Cards For Level 1 */
.level-1-game .card-1 {
  background: #064509;
  border: 7px solid #ffffff;
  color: #ffffff;
  border-radius: 12px;
  width: 200px;
  height: 190px;
  text-align: center;
  display: inline-block;
}

.circle-position:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(101%, -303%);
}

.circle-position:nth-child(2) .circle {
  background-image: radial-gradient(farthest-corner at 62% 69%, #cccab8, #a81fbb, #a0067f);
}

.circle-position:nth-child(2) .pinkBg {
  background-color: #a619ad!important;
  background-image: radial-gradient(farthest-corner at 77% 60%, #cbc5b9, #a81fbb, #a515a2);
}

.circle-position:nth-child(2) svg.line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(126%, -215%);
}

.circle-position:nth-child(2) ul.family{
  background: #a0067f;
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(16%, -122%);
  border: 2px solid rgb(255, 187, 0);
}

.circle-position:nth-child(2) ul li {
  padding: 5px 0 0 0;
}

.circle-position:nth-child(2) ul.family .family-member {
  width: 40px;
  height: 80px;
}

.circle-position:nth-child(2) ul.family .family-member div.img-box {
  background: linear-gradient(to right, #a175d2, #fde9f9, #8d5bbb);
  border: 1px solid #000;
  width: 40px;
  height: 52px;
  border-radius: 12px;
}

.circle-position:nth-child(2) ul.family .family-member p {
  text-align: center;
  color: #ffffff;
}

.circle-position:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(239%, -263%);
}

.circle-position:nth-child(3) .circle {
  background-image: radial-gradient(farthest-corner at 62% 69%, #cccab8, #a81fbb, #a0067f);
}

.circle-position:nth-child(3) svg.line-level-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(14%, -100%);
}

.circle-position:nth-child(3) ul.game-level-3 {
  background: #ffffff;
  width: 180px;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(122%, -53%);
}

.circle-position:nth-child(3) ul.game-level-3 li.block {
  background: linear-gradient(to right, #f3f3f3, white, #e8e8e8 40%, white, #f3f3f3);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 0;
}

.circle-position:nth-child(3) ul.game-level-3 li.block .symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.circle-position:nth-child(3) ul.game-level-3 li.block .text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  text-transform: uppercase;  
  color: #fff;
}
.circle-position:nth-child(3) ul.game-level-3 li.block .text.green {
  background: green;
}
.circle-position:nth-child(3) ul.game-level-3 li.block .text.red {
  background: red;
}
.circle-position:nth-child(3) ul.game-level-3 li.block .no {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  font-size: 4rem;
  color: #00f;
}
/* next-step-level-3 */
.next-step-level-3 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: radial-gradient(#bd81b9, #aa29ba, #a414a1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(108%, -59%);
}
.space-step-level-3 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: radial-gradient(#dcbbaf, #ea5343, #f00);
  border: 3px solid #000;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(287%, -85%);
}
/* procognition-circle level-3 */
.procognition-circle {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  background: radial-gradient(#76b2d6, #587ed2, #114ab3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-13%, 182%);
}

.circle-position:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(362%, -183%);
}

.circle-position:nth-child(4) .circle {
  background-image: radial-gradient(farthest-corner at 62% 69%, #ff0000, #980606, #290402);
}

/* next-step-level-4 */
.next-step-level-4 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: radial-gradient(#c5aa21, #d60f0f, #bd1c11);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(102%, -32%);
}
.space-step-level-4 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: radial-gradient(#dcbbaf, #ea5343, #f00);
  border: 3px solid #000;
  box-shadow: 0px 0px 10px #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(263%, 50%);
}

.circle-position:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(435%, -58%);
}

.circle-position:nth-child(5) .circle {
  background-image: radial-gradient(farthest-corner at 61% 35%, #5dec03, #308e00, #073a01);
}

.lvl-yin-yang {
  transform: rotate(111deg);
}

.rotate-svg-yin-yang-copy {
  transform: rotate(272deg);
  position: absolute;
  bottom: 10px;
  left: 9px;
}

.circle-position:nth-child(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(387%, 85%);
}

.circle-position:nth-child(6) .circle {
  background-image: radial-gradient(farthest-corner at 62% 69%, #cccab8, #a81fbb, #a0067f);
}

.lvl-doors {
  transform: rotate(157deg);
}

.rotate-doors-svg-copy {
  transform: rotate(350deg);
  position: absolute;
  bottom: -7px;
  left: 14px;
}

.circle-position:nth-child(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(260%, 171%);
}

.circle-position:nth-child(7) .circle {
  background-image: radial-gradient(farthest-corner at 62% 69%, #cccab8, #a81fbb, #a0067f);
}

.circle-position:nth-child(8) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(120%, 217%);
}

.circle-position:nth-child(9) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-26%, 228%);
}

.circle-position:nth-child(10) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-168%, 213%);
}

.circle-position:nth-child(11) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-306%, 181%);
}

.circle-position:nth-child(12) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-426%, 117%);
}

.circle-position:nth-child(13) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-505%, -16%);
}

.circle-position:nth-child(14) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-468%, -170%);
}

.circle-position:nth-child(15) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-340%, -258%);
}

.circle-position:nth-child(16) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-205%, -302%);
}

/* Highlighting the small circles */
/* .ball {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
.ball.plain {
    background: black; }
.ball.plain:before, .ball.plain:after {
      display: none; }
.ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(51, 214, 31, 0.9), rgba(70, 206, 0, 0.9) 40%, rgba(39, 202, 45, 0.8) 60%, rgba(135, 232, 85, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
.ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(174, 247, 95, 0) 0, rgba(21, 232, 18, 0) 46%, rgba(190, 218, 152, 0.8) 50%, rgba(193, 255, 218, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
.ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }


@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
}

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
} */